<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>详情</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="江苏省常州市媛潇美容培训机构"/>
  <meta name="keywords" content="江苏省常州市媛潇美容培训机构"/>
  <meta name="author" content="江苏省常州市媛潇美容培训机构">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0"/>
  <script src="../js/rem.js"></script>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div class="k-head">
  <a href="#" onclick="javascript:history.go(-1);return false;" class="k-back" ></a>
  <div class="k-title k-overflow">详情</div>
</div>

<div class="k-detail-wrap">
  <div class="k-detail-title">了解常用的化妆工具</div>
  <div class="k-detail-text">
    <p>化妆可分为基础化妆和重点化妆。基础化妆是指整个脸面的基础敷色，包括：清洁、滋润、收敛、打底与扑粉等，具有护肤的功用。重点化妆是</p>
    <img src="http://hbimg.b0.upaiyun.com/c257e795d3995caa6e26066c0ac6c946b703f8142a7bf-O4f6mz_fw658">
    <p>人体最全面的化妆分类为：皮肤、毛发、指甲、牙齿、眼球5个部分的化妆。其中皮肤包括嘴唇，毛发包括睫毛。常用的化妆品：一、膏霜类化</p>
  </div>
</div>

</body>
</html>