<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>文章</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="江苏省常州市媛潇美容培训机构"/>
  <meta name="keywords" content="江苏省常州市媛潇美容培训机构"/>
  <meta name="author" content="江苏省常州市媛潇美容培训机构">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0"/>
  <script src="../js/rem.js"></script>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>

<div class="k-index-nav">
  <a class="item k-in" href="index.html">首页</a>
  <a class="item" href="cos-list.html">化妆培训</a>
  <a class="item" href="cos-manicure.html">美甲培训</a>
  <a class="item" href="cos-korean.html">韩式半永久</a>
</div>

<div class="k-index-wrap">

  <div class="k-index-banner" id="banner">
    <ul class="k-index-banner-main">
      <li><img src="../images/index-banner1.png"/></li>
      <li><img src="http://hbimg.b0.upaiyun.com/c257e795d3995caa6e26066c0ac6c946b703f8142a7bf-O4f6mz_fw658"/></li>
    </ul>
    <div class="k-index-banner-page">
      <ul></ul>
    </div>
  </div>

  <div class="k-index-main">
    <div class="k-index-main-title">【关于我们】</div>
    <div class="k-index-row1">
      <img src="../images/index-banner2.png">
      <div class="k-index-row1-col">媛潇培训成立于2001年，18年来我们一直专注于美容、化妆专业的职业技能培训，我们收获累累硕果。这是实力的象征，同样也是品质的</div>
    </div>
    <div class="k-index-main-title">【联系我们】</div>
    <div class="k-index-row2">
      <div class="k-index-row2-col">
        <p>联系电话：</p>
        <p><a  href="tel:13764567708">13764567708</a></p>
        <p>联系地址</p>
        <p>江苏省常州市媛潇美容培训机构</p>
      </div>
      <img src="../images/index-code.png">
    </div>
  </div>

</div>


<script src="../js/TouchSlide.1.1.js"></script>
<script>
  /*banner轮播图*/
  TouchSlide({
    slideCell: "#banner",
    titCell: ".k-index-banner-page ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
    mainCell: ".k-index-banner-main",
    effect: "leftLoop",
    autoPlay: true,//自动播放
    autoPage: true, //自动分页
  });
</script>
</body>
</html>