[v-cloak] { display: none; }
/*重置*/
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td { margin: 0; padding: 0; box-sizing: border-box; }

body { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
img, input, select { vertical-align: baseline; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; *font-size: 100% }
input, button, select, textarea { outline: none; }
a, a:hover { text-decoration: none; }

[hidden], template { display: none; }
canvas, audio, video { display: inline-block; }
svg:not(:root) { overflow: hidden; }
audio:not([controls]) { display: none; height: 0; }
img { border-style: none; }
details, menu { display: block; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button { height: auto; }
textarea { overflow: auto; }

/*定位*/
.f { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
.f1 { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; cursor: pointer }
.fc { align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center }
.fc-h { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.fv { -webkit-box-orient: vertical; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
.fw { -webkit-flex-wrap: wrap; -webkit-box-lines: multiple; -moz-flex-wrap: wrap; flex-wrap: wrap; }
.fj { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;}

.rel { position: relative; }
.abs { position: absolute; }
.c { margin: 0 auto; }
.w-full { width:100%;}
.h-full { height:100%;}


/*浮动*/
.fl { float: left; }
.fr { float: right; }
.cl:after { display: block; overflow: hidden; clear: both; height: 0; visibility: hidden; content: "." }

/*文本*/
.t-b { font-weight:bold;}
.tr { text-align: right; }
.tc { text-align: center !important; }
.tf { text-align: left; }
.tbr { word-break: break-all; word-wrap: break-word; }
.nobr { white-space:normal;}
.line { overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; }
.line1 { -webkit-line-clamp: 1; }
.line2 { -webkit-line-clamp: 1; }
.t-shadow-fff { text-shadow:0 0 3px #fff;}
.nowrap { white-space:nowrap;}

/*字体颜色*/
.c-63B504 {color:#63B504;}
.c-333 { color:#333;}
.c-444 { color:#444;}
.c-666 { color:#666;} 

/*背景颜色*/
.bg-63B504 { background-color:#63B504;}

/*边距*/
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p0-10 { padding: 0 10px; }


/*光标*/
.cp { cursor: pointer; }
/*字体标红*/
.color-red { color: red !important; }
.color-green { color: #01b301 !important }
.color-orange { color: #ff6600 !important }
