<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>详情</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="填写网页内容描述" />
  <meta name="keywords" content="填写网页搜索关键词" />
  <meta name="author" content="作者">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0" />
  <script src="../js/rem.js"></script>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/common.css">
</head>
<body style="background: #ffffff">
<div class="k-head">
  <div class="k-title k-overflow">详情</div>
  <a href="#" onclick="javascript:history.go(-1);return false;" class="k-back" ></a>
</div>
<div class="k-adetail-main">
  <div class="k-adetail-title">两个简单的技巧让你成为 优秀的设计师，课程免费开启！</div>
  <div class="k-adetail-text">
    不单单从事美术绘画，更需要对软件使用者、使用环境、使用方式进行定位，并最终为软件用户服务。UI设计师进行的是集科学性与艺术性于一身的设计，他们需要完成的，简单说来，正是一个不断为用户设计视觉效果使之满意的过程。
    设计从工作内容上来说分为3大类别，即研究工具，研究人与界面的关系，研究人。与之相应，UI设计师的职能大体包括三方面：一是图形设计，即传统意义上的“美工”。当然，实际上他们承担的不是单纯意义上美术工人的工作，而是软件产品的产品“外形”设计。二是交互设计，主要在于设计软件的操作流程、树状结构、操作规范等。一个软件产品在编码之前需要做的就是交互设计，并且确立交互模型，交互规范。三是用户测试/研究，这里所谓的“测试”，其目标恰在于测试交互设计的合理性及图形设计的美观性，主要通过以目标用户问卷的形式衡量UI设计的合理性。如果没有这方面的测试研究，UI设计的好坏只能凭借设计师的经验或者领导的审美来评判，这样就会给企业带来极大的风险。
  </div>
</div>
</body>
</html>